<% include partials/header %>
    <h1>Welcome to NC Amusement Parks!</h1>

    <p>
        Find amusement parks at a drivable distance from you, see ratings and reviews,
        and sign up and log in to create your own ratings and reviews!
    </p>

    <a href="/amusementparks">View Amusement Parks</a>
<% include partials/footer %>