<% include partials/header %>

<div class="container">
    <form action="/amusementparks" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <textarea class="form-control" id="name" name="park[name]" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <textarea class="form-control" id="imageUrl" name="park[imageUrl]" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="park[description]" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<% include partials/footer %>